<div class='opening'>
	
	<div class='opening__aurora aurora'></div>
	<section>
		<div class='opening__text'>
			<p>{{doc.first-opening-sentence}}</p>
		</div>
		<div class='opening__text'>
			<p>{{doc.sec-opening-sentence}}</p>
		</div>
		<div class='opening__img'>
			<img src='assets/images/pregnant-belly.jpg'>
		</div>
		<div class='opening__quote'>
			{{#each doc.intro-quotes}}
			<div class='opening__quote__container' id='{{order}}' style='transform: translateX({{left}})'>
				<p>
					<a href='https://www.google.com' target='_blank' class='quote'>
						{{quote}}
					</a>
				</p>
				<p class='name'>
					{{name}}
				</p>
			</div>
			{{/each}}
		</div>
	</section>
</div>
<div class='intro'>
	<h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__dek'>{{meta.description}}</p>
	<p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>, Sofia Perez, Ryan Corbin
	</p>
	<time class='intro__time'>Month 2020</time>
</div>